
 /* Create a sticky/fixed navbar */

body{
    background-color: #272727;
    background-image: url(../img/bg-site.png);
    background-repeat: repeat;
    background-attachment: fixed;
}

#boxnavbar {
    overflow: hidden;
    padding: 30px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 90;
    transition: all .2s;
    align-items: center;
    display: flex;
}

.cold{
    background-color: transparent;
    background-image: none;
}

.header-left{
    color: #fff;
    padding: 10px 30px;
    position: fixed;
    left: 70px;
    z-index: 100;
}

#logo{
    font-size: 30px;
    transition: all .2s;
}

.header-right{
    cursor: pointer;
    color: #fff;
    padding: 16px 30px;
    position: fixed;
    right: 70px;
    z-index: 100;
    margin-top: 10px;
}

.header-separation {
    background-color: #fff;
    margin: 0 5px 0 5px;
    width: 2px;
    height: 10px;
    display: inline-block;
}

.access {
    align-items: center;
    border-radius: 100px;
    display: flex;
    padding: 0 5px 0 5px;
}

.access:hover {
    backdrop-filter: saturate(150%);
    -webkit-backdrop-filter: saturate(150%);
    background-color: hsla(0,0%,100%,.15);
}

#roundednav{
    border-radius: 50px;
    width: fit-content;
    margin: auto;
    position: relative;
    height: 55px;
    display: flex;
    align-items: center;
}

#glossy{
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    background-color: transparent;
    border-radius: 35px;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
}

.go_top {
    transition: opacity 0.3s ease;
}

.go_top.show {
    display: inline-block;
    opacity: 1;
}

/*************/

.access-button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.access-button:hover {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
  
.access-button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.example-2 {
    position: absolute;
    right: 10%;
    top: 499px;
    z-index: 1000;
    border-radius: 5px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-bottom: unset;
    background-image: url('../img/module_metal.png');
}

.example-2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.example-2 .icon-content {
    position: relative;
    margin: 1em 0 1em 0;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 160%;
    transform: translateY(200%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -55px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="x"] .filled,
.example-2 .icon-content a[data-social="x"] ~ .tooltip {
    background-color: #1d9bf0;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
        45deg,
        #405de6,
        #5b51db,
        #b33ab4,
        #c135b4,
        #e1306c,
        #fd1f1f
    );
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
}
  

/****************/
/** ALERT-BOX ***/
/****************/

.alert-box {
    position: relative;
    top: -81px;
    z-index: 10;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert-box-title {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
    font-family: 'Uncial Antiqua', cursive;
    font-weight: 600;
    font-size: 14px;
    padding: 15px;
    color: #fff;
    background-image: url('../img/module_metal.png');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.alert-box-content {
    padding: 15px;
    color: #fff;
    opacity: 0.9;
    background-image: url('../img/module_metal.png');
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

button.close-alert-box {
	padding: 15px;
}

/******************/
/*** FLOATINGBOX **/
/******************/

.floating-box {
    position: absolute; /* Position par défaut (sera changée par jQuery) */
    top: 499px; /* Point initial */
    left: 5%; /* Toujours à gauche de la page */
    z-index: 10;
    width: 15%;
    border-radius: 5px;
}

.sticky {
    position: fixed; /* Change la position pour rester fixée */
    top: 5em; /* Fixée en haut de la fenêtre */
}


/******************/
/*** ALERTCOLOR ***/
/******************/

.alert-box-hover {
    position: relative;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 7px 0 #696e6e;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}
 
/* 
.alert-box-hover::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2e2e2e;
    z-index: -1;
    transition: bottom 0.5s ease;
}
  
.alert-box-hover:hover::before {
    bottom :0;
}*/
  
/* Titre et flèche */

.arrow{
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center center;
    transition-duration: 1.5s;
}

.alert-box-title .title-text {
    white-space: nowrap; /* Empêche le retour à la ligne */
    display: inline-block;
}

.alert-box-title .arrow {
    margin-left: 75%;
    transform: translateX(-100%); /* Position initiale : à gauche du texte */
    opacity: 0; /* Invisible par défaut */
    transition: transform 0.5s ease, opacity 0.5s ease;
}
  
/* Animation au hover */
.alert-box-hover:hover .arrow {
    transform: translateX(0); /* La flèche revient à sa position normale */
    opacity: 1; /* La flèche devient visible */
}

/*black*/
.alert-black {
	background-color: #212121;
	box-shadow: 0 0 7px 0 #202121;
}
.alert-black > .alert-box-title {
	background-color: #2e2e2e;
}

/*Rouge*/
.alert-rouge {
	background-color: #c0392b;
	box-shadow: 0 0 7px 0 #e74c3c;
}
.alert-rouge > .alert-box-title {
	background-color: #e74c3c;
}
/*jaune*/
.alert-jaune {
	background-color: #ffcc42;
	box-shadow: 0 0 7px 0 #ffef76;
}
.alert-jaune > .alert-box-title {
	background-color: #ffee1e;
}
/*Orange*/
.alert-orange {
	background-color: #d35400;
	box-shadow: 0 0 7px 0 #e67e22;
}
.alert-orange > .alert-box-title {
	background-color: #e67e22;
}
/*Gris*/
.alert-gris {
	background-color: #738081;
	box-shadow: 0 0 7px 0 #7f8c8d;
}
.alert-gris > .alert-box-title {
	background-color: #95a5a6;
}
/*Bleu foncé*/
.alert-marine {
	background-color: #2c3e50;
	box-shadow: 0 0 7px 0 #34495e;
}
.alert-marine > .alert-box-title {
	background-color: #34495e;
}
/*Bleu*/
.alert-bleu {
	background-color: #2980b9;
	box-shadow: 0 0 7px 0 #3498db;
}
.alert-bleu > .alert-box-title {
	background-color: #3498db;
}
/*Violet*/
.alert-violet {
	background-color: #8e44ad;
	box-shadow: 0 0 7px 0 #9b59b6;
}
.alert-violet > .alert-box-title {
	background-color: #9b59b6;
}
/*Vert*/
.alert-vert {
	background-color: #27ae60;
	box-shadow: 0 0 7px 0 #2ecc71;
}
.alert-vert > .alert-box-title {
	background-color: #2ecc71;
}
/*Turquoise*/
.alert-turquoise {
	background-color: #16a085;
	box-shadow: 0 0 7px 0 #1abc9c;
}
.alert-turquoise > .alert-box-title {
	background-color: #1abc9c;
}


/****************/
/** CONTAINER ***/
/****************/

.content{
    padding-top: 5em;
    text-align: justify;
}

p{
    color: #999999;
}

.build{
    width: 1000px;
    margin: 30px auto;
}

.container-highlight{
    background-image: url("../img/default.png");
    background-position: 50%;
    background-repeat: repeat;
    display: flex;
    height: 60vh;
    justify-content: center;
    margin-bottom: 10px;
    max-height: 620px;
    min-height: 550px;
    overflow: hidden;
    padding: 30px;
    position: relative;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.5);
}

.wide{
    background-image: url(../img/1.jpg);
    width: 650px;
    height: 50%;
    position: absolute;
    top: 154px;
    right: 10%;
    border-radius: 25px;
    box-shadow: 
        0 0 1px 3px rgba(0, 0, 0, 0.3), /* Ombre extérieure */
        inset 0 0 30px rgba(0, 0, 0, 0.5) /* Ombre intérieure */
    ; 
    background-position: 79%;
    background-size: cover;
    background-repeat: no-repeat;
}

.splash{
    width: 650px;
    height: 50%;
    position: absolute;
    top: 154px;
    left: 5%;
}

.splash h1{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Uncial Antiqua', cursive;
}

.splash p{
    color: #fff;
}
