
 /* Create a sticky/fixed navbar */

 body{
    background-color: rgba(0, 0, 0, 0.7);
 }

 .container-highlight{
    background-image: url("../img/stalk2.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 60vh;
    justify-content: center;
    margin-bottom: 10px;
    max-height: 620px;
    min-height: 550px;
    overflow: hidden;
    padding: 30px;
    position: relative;
 }

 #boxnavbar {
    overflow: hidden;
    padding: 30px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 90;
    transition: all .2s;
}

.header-left{
    color: #fff;
    padding: 10px 30px;
    position: fixed;
    left: 0;
    z-index: 100;
}

#logo{
    font-size: 30px;
    transition: all .2s;
}

.header-right{
    cursor: pointer;
    color: #fff;
    padding: 16px 30px;
    position: fixed;
    right: 0;
    z-index: 100;
    margin-top: 10px;
}

.header-separation {
    background-color: #fff;
    margin: 0 5px 0 5px;
    width: 2px;
    height: 10px;
    display: inline-block;
}

#roundednav{
    padding: 10px;
    border-radius: 50px;

    -moz-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.3);
    width: fit-content;
    margin: auto;
    transition: all .2s;
    position: relative;
}

#glossy{
    backdrop-filter: blur(60px) saturate(100%);
    -webkit-backdrop-filter: blur(60px) saturate(100%);
    background-color: transparent;
    border-radius: 35px;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
}

.go_top {
    transition: opacity 0.3s ease;
}

.go_top.show {
    display: inline-block;
    opacity: 1;
}

/****************/
/** CONTAINER ***/
/****************/

.build{
    width: 1000px;
    margin: 30px auto;
}
